@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

@layer components {
  .btn-basic {
    @apply py-3 
      px-4
      inline-flex justify-center items-center 
      gap-2 rounded-md border border-transparent 
      font-semibold 
      focus:ring-offset-2 
      transition-all 
      text-sm;
  }

  .btn-primary {
    @apply dark:focus:ring-offset-gray-800
      bg-blue-500 
      text-white 
      hover:bg-blue-600 
      focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
  .btn-secoundry {
    @apply dark:focus:ring-offset-gray-800
      bg-blue-500 
      text-white 
      hover:bg-blue-600 
      focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}
